<!DOCTYPE html>
    <html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
      
  <head>
    
    <meta charset="UTF-8">


</head>
<body>
           
    		
       	 <p>¡No se pudo crear, este usuario ya existe!</p>
       	 <p><a th:href=" @{/createuser}" >Volver</a></p>
   		 <p><a th:href=" @{/hello}" >login</a></p>
         <p><a th:href=" @{/home}" >Home</a></p>
    
      
    
</body>
</html>