<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="https://www.thymeleaf.org"
      xmlns:sec="https://www.thymeleaf.org/thymeleaf-extras-springsecurity3">
    <head>
        <title>Hello World!</title>
        <meta charset="UTF-8">
    </head>
    <body>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action="@{/logout}" method="post">
            <input type="submit" value="Sign Out"/><br>
            <a href="/createuser">Crear un usuario</a><br>
        	<p><a th:href=" @{/home}" >Home</a></p><br>
        	<p><a th:href=" @{/memory}" >Juego Memory</a></p><br>
        </form>
        <form th:action="@{/showQR}" method="post">
        <input type="text" id="qrText" name="qrText" value="premio" required>
            <input type="submit" class="btn btn-primary"/>
            
        </form>
        	<form th:action="@{/getCustomerImgQR}" method="post">
			<input class="sign-in" type="text" name="username" placeholder="Username" />            
			<input type="submit" class="btn btn-secondary"/>
            
        </form>    
        	
    
    </body>
</html>