*, *::before, *::after {
  box-sizing: border-box;
}

body {
  margin: 20px 0;
  background: #6589F9;
}

.grid {
  max-width: 960px;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-evenly;
}

.card {
  position: relative;
  transition: all .4s linear;
  transform-style: preserve-3d;
  margin: 5px;
}

.card,.back,.front {
  height: 150px;
  width: 150px;
}

.back,.front {
  position: absolute;
  backface-visibility: hidden;
}

.front {
  background: #FAB942 url('img/mesa.png') no-repeat center center / contain;
}

.back {
  transform: rotateY(180deg);
  background-color: #6589F9;
  background-size: contain;
  background-repeat: no-repeat;
  background-position: center center;
}

.selected {
  transform: rotateY(180deg);
}

.match .front {
  background: #6589F9 !important;
}

h3{
  margin: 0 auto;
}

#moves, #errors, #score, .title{
  display: inline-block;
  min-width: 30%;
  margin: 1%;
}

#moves div, #errors div, #score div, #premio{
  margin: 10px auto 25px auto;
  height: 80px;
  line-height: 80px;
  text-align: center;
  border: 3px solid black;
  background-color: white;
  border-radius: 10px;
  font-weight: 600;
  font-size: 2em;
  text-transform: capitalize;
}

.label{
  margin-top: 20px;
  text-transform: uppercase;
  color: black;
  text-align: center;
}

#num3, #num2, #num1{
  margin-top: 0;
}