<!DOCTYPE html>
<html>
<head>
<meta charset="ISO-8859-1">
<title>Insert title here</title>
</head>
<body>

Hola si funciono

<div class="w3-panel w3-padding-32">
<h1>Spring Boot Books Example</h1>
<h3>table of static books</h3>
			
		<table class="w3-table-all w3-hoverable" >
			<tr th:each="book:${booksfromController}">
									
			
				<td th:text="${book.title}"></td>
				<td th:text="${book.ISBN}"></td>
				<td th:text="${book.pages}"></td>
				<td th:text="${book.year}"></td>
				<td th:text="${book.author}"></td>
				
				
				<td> <a th:href ="@{deleteBook(titleFromView=${book.title})}"
				class="w3-button w3-red">  Delete this book </a> </td>
				
				<td> <a th:href ="@{updateBook(titleFromView=${book.title})}"
				class="w3-button w3-cyan">  Update this book </a> </td>
				
			</tr>
		</table>

<p>

 <a th:href="@{/books/newBook}" class="w3-button w3-blue">Add new book</a>
</p>
</div>

<div class="w3-panel w3-padding-32">
<h1>Spring Boot Authors Example</h1>
<h3>table of static authors</h3>
			
		<table class="w3-table-all w3-hoverable" >
			<tr th:each="author:${authorsfromController}">
									
			
				<td th:text="${author.id}"></td>
				<td th:text="${author.name}"></td>
				<td th:text="${author.country}"></td>
				<td th:text="${author.dob}"></td>
				<td th:text="${author.qtyBooks}"></td>
				<td th:text="${author.alive}"></td>
				
				<td> <a th:href ="@{deleteAuthor(nameFromView=${author.name})}"
				class="w3-button w3-red">  Delete this author </a> </td>
				
				<td> <a th:href ="@{updateAuthor(nameFromView=${author.name})}"
				class="w3-button w3-cyan">  Update this author </a> </td>
				
			</tr>
		</table>

<p>

 <a th:href="@{/authors/newAuthor}" class="w3-button w3-blue">Add new author</a>
</p>
</div>

</body>
</html>